[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argcomplete = "*"
asgiref = "*"
aws-psycopg2 = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
cffi = "*"
cfn-flip = "*"
chardet = "*"
click = "*"
cryptography = "*"
django-rest-knox = "*"
djangorestframework = "*"
durationpy = "*"
future = "*"
hjson = "*"
idna = "*"
importlib-metadata = "*"
jmespath = "*"
kappa = "*"
pep517 = "*"
pip-tools = "*"
placebo = "*"
pycparser = "*"
python-dateutil = "*"
python-slugify = "*"
pytz = "*"
requests = "*"
s3transfer = "*"
six = "*"
sqlparse = "*"
text-unidecode = "*"
toml = "*"
tqdm = "*"
troposphere = "*"
typing-extensions = "*"
urllib3 = "*"
wsgi-request-logger = "*"
zappa = "*"
zipp = "*"
Django = "*"
PyYAML = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.7.10"
