[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.2.7"
cffi = "==1.14.0"
cryptography = "==2.9.2"
django-rest-knox = "==4.1.0"
djangorestframework = "==3.11.0"
pycparser = "==2.20"
pytz = "==2020.1"
six = "==1.15.0"
sqlparse = "==0.3.1"
Django = "==3.0.6"

[dev-packages]

[requires]
python_version = "3.8.7"
